
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@{
    ViewData["Title"] = "Voyage Planner";
    List<Person> list = new List<Person>();
    string visible = "d-none";
    if (ViewBag.ExistingPersons != null)
    {
        visible = "d-block";
        foreach (Person person in ViewBag.ExistingPersons)
        {
            list.Add(person);
        }
    }
}
<h3>Passangers</h3>
<div class=@visible>
    @Html.Partial("~/Views/Partial/PersonList.cshtml", list)
</div>

<div class="accordion my-2">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                Add your journey companions!
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div id="editForm">
                    @Html.Partial("~/Views/Partial/CreatePerson.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>

<script>


    function handler(event) {
        var form = $("#createPersonForm")[0];
        var formData = new FormData(form);
        var firstName = formData.get("Firstname");
        var lastName = formData.get("Lastname");
        var dateOfBirth = formData.get("DateOfBirth");
        var chosenAllowance = document.querySelector('input[name="allowance-choice"]:checked').value;

        var alreadyExistingPersons = [];
        $(".listValues").toArray().forEach(listValue => alreadyExistingPersons.push({
            id: listValue.getAttribute("id"),
            firstname: listValue.getAttribute("firstname"),
            lastname: listValue.getAttribute("lastname"),
            dateOfBirth: listValue.getAttribute("dateOfBirth"),
            allowanceId: listValue.getAttribute("allowanceId")
        }))

        if(firstName != "" && lastName != ""){
            $.ajax({
                url: '/Voyages/PersonAddition',
                method: 'POST',
                contentType: "application/json",
                headers: {
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                },
                data: JSON.stringify({ firstName, lastName, dateOfBirth, chosenAllowance, alreadyExistingPersons }),
                success: function (result) {
                    $("#toUpdate").html(result);
                }
            });
        }
    }

    function editHandler(event) {
        var form = $("#editPersonForm")[0];
        var formData = new FormData(form);
        var firstName = formData.get("Firstname");
        var lastName = formData.get("Lastname");
        var dateOfBirth = formData.get("DateOfBirth");
        var chosenAllowance = document.querySelector('input[name="allowance-choice"]:checked').value;
        var Id = formData.get("Id");

        var alreadyExistingPersons = [];
        $(".listValues").toArray().forEach(listValue => alreadyExistingPersons.push({
            id: listValue.getAttribute("id"),
            firstname: listValue.getAttribute("firstname"),
            lastname: listValue.getAttribute("lastname"),
            dateOfBirth: listValue.getAttribute("dateOfBirth"),
            allowanceId: listValue.getAttribute("allowanceId")
        }))

        if (firstName != "" && lastName != "") {
            $.ajax({
                url: '/Voyages/PersonEdition',
                method: 'POST',
                contentType: "application/json",
                headers: {
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                },
                data: JSON.stringify({ Id, firstName, lastName, dateOfBirth, chosenAllowance, alreadyExistingPersons }),
                success: function (result) {
                    $("#toUpdate").html(result);
                }
            });
        }
    }
</script>